.*.swp
*.o
*.xo
*.so
*.d
*.log
dump.rdb
redis-benchmark
redis-check-aof
redis-check-rdb
redis-check-dump
redis-cli
redis-sentinel
redis-server
doc-tools
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
redis.ds
src/redis.conf
src/nodes.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
tests/tls/*
.make-*
.prerequisites
*.dSYM
Makefile.dep
.vscode/*
.idea/*
.ccls
.ccls-cache/*
compile_commands.json
redis.code-workspace
src/redrock
src/redrock_static
.github/*
.DS_Store
tests/rock/__pycache__/*
src/*.rdb
src/*.aof
tests/rock/.idea/
tests/rock/mass*.txt
src/node*.conf
dl/redis-server-6.2.2
dl/redrock_static_centos
dl/redrock_static_ubuntu
dl/redrock
#dl/redrock.tar
.gitattributes